.card__review {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-top: 16px;
}

.card__stars {
  display: flex;
}

.card__star {
  background-image: url("./../images/star.svg");
  background-repeat: no-repeat;
  background-position: center;
  height: 16px;
  width: 16px;
  margin-right: 4px;
}

.card__stars > .card__star:nth-child(-n+4) {
  background-image: url("./../images/star-active.svg");
}

.card__rating {
  font-size: 10px;
  line-height: 14px;
  font-weight: 400;
  color: var(--text-accent-color);
}
